p{
    color: brown;
}

h1{
    font-size: 10px;
    color: aquamarine;
    text-decoration: underline;
    background-color: blueviolet;
    font-style: italic;
    letter-spacing: 10px;
    word-spacing: 10px;
    font-family: fantasy;
}